body{
  background-color: crimson;
}

.header{
  text-align: center;
  color: white;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  letter-spacing: 0.125em;
}

.time{
  color: white;
  text-align: center;
  font-weight: 600;
  font-family: cursive;
  font-size: 36px;
  animation-name: move;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}


@keyframes move {
  0%{
    transform: skewX(0deg);
  }
  25%{
    transform: skewX(45deg);
  }
  75%{
    transform: skewX(-45deg);
  }
  100%{
    transform: skewX(0deg);
  }
}
